<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Docker Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      <article>


        <h1><%=title %> </h1>
        <p><%=text%></p>

              <p>Excellent <%=phone %></p>
      </article>
      <aside>
        <ul>
          <a href='/'<li>one </li></a>
          <a href='/lol'<li>Two </li></a>
          <a href='/super'<li>Three </li></a>
        </ul>
      </aside>
    </main>
  </body>
</html>
